/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust the thickness of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #6b7280; 
    border-radius: 4px; 
}

.rce-citem-body--bottom-status{
    background-color: #3f77a1;
    border-radius: 50%;
}

